body {
  width: 300px;
}

h1 {
  text-align: center;
}

select {
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

#translationResult {
  height: 100px;
  border: 1px solid black;
  padding: 5px;
  overflow-y: scroll;
}

#transcriptionResult {
  height: 100px;
  border: 1px solid black;
  padding: 5px;
  overflow-y: scroll;
}
